name: Node.js CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Change to frontend directory and install dependencies
      run: npm ci
      working-directory: ./frontend
    - name: Build
      run: npm run build --if-present
      working-directory: ./frontend
    - name: Test
      run: npm test
      working-directory: ./frontend
